footer {
    background-color: $clr-yellow;
    padding-bottom: 10rem;

    h2 {
        padding-top: 5rem;
    }

    p {
        color: $clr-blue;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    h4 {
        color: $clr-red;
    }

    div {
        width: 50%;
    }

    svg {
        height: 4rem;
        width: 3rem;

        @include breakpoint-up(ipad) {
            height: 4rem;
            width: 4rem;
        }
    }


}