header {
    h1 {
        padding-top: 25rem; 

        @include breakpoint-up(ipad) {
            padding-top: 30rem;
        }

        @include breakpoint-up(computer) {
            padding-top: 20rem;
        }
    }

     p {
         padding-top: 7rem;

         @include breakpoint-up(computer) {
             padding-top: 0rem;
         }
    }  
     
     .arrowhero {
         padding-top: 15rem;

         @include breakpoint-up(ipad) {
            padding-top: 25rem;
        }

        @include breakpoint-up(computer) {
            width: 2rem;
            padding-top: 10rem;
        }
     }
     
     .yellowheader {
         background-color: $clr-yellow;
         height: 53rem;
         z-index: -1;
         margin-top: -44rem;

         @include breakpoint-up(ipad) {
           height: 62.5rem;
           margin-top: -54rem; 
        }

        @include breakpoint-up(computer) {
            height: 36rem;
            margin-top: -29rem;
        }
     }
}
