header {
    h1 {
        padding-top: 25rem; 

        @include breakpoint-up(ipad) {
            padding-top: 30rem;
        }
     }
     
     p {
         padding-top: 7rem;
     }
     
     .arrowhero {
         padding-top: 15rem;

         @include breakpoint-up(ipad) {
            padding-top: 10rem;
        }
     }
     
     .yellowheader {
         background-color: $clr-yellow;
         height: 53rem;
         z-index: -1;
         margin-top: -44rem;

         @include breakpoint-up(ipad) {
           height: 62.5rem;
           margin-top: -59rem; 
        }
     }
}
