main {
    padding-top: 6rem;

    section {
        div {
            h2, p {
            color: $clr-white;
            padding-top: 2rem;
            }
    
            p:last-child {
                padding-bottom: 4rem;
            }
    
            background-color: $clr-black;
        }
        
        
        h4 {
            padding-bottom: 1rem;
            padding-top: 3rem;
            color: $clr-red;
        }

        p {
            padding-bottom: 1rem;
            color: $clr-blue;
        }
    }

    hr {
        width: 100%;
        height: .15rem;
        color: $clr-black;
    }
}