nav {
    a {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
}

hr {
    width: 87%;
    border: none;
    background-color: $clr-black;
    height: 0.3em;
}

.hide-for-desktop {
    background-color: $clr-white;
    position: fixed;
    width: 100%;
    padding-bottom: 2rem;
    z-index: 1;
}

