nav {
    a {
        padding-top: 3rem;
        padding-bottom: 2rem;

        @include breakpoint-up(ipad) {
            padding-top: 5rem;
            padding-bottom: 3rem;
        }
    }
}

hr {
    width: 87%;
    border: none;
    background-color: $clr-black;
    height: 0.3em;

    @include breakpoint-up(ipad) {
        width: 92%;
        height: 0.5rem;
    }
}

.hide-for-desktop {
    background-color: $clr-white;
    position: fixed;
    width: 100%;
    padding-bottom: 2rem;
    z-index: 1;

    @include breakpoint-up(ipad) {
        padding-bottom: 3rem;
    }
}

