nav {
    @include breakpoint-up(computer) {
        padding-top: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;   
    }

    @include breakpoint-up(largeComputer) {
        padding-left: 20rem;
        padding-right: 20rem;
    }

    a {
        padding-top: 3rem;
        padding-bottom: 2rem;
        
        @include breakpoint-up(ipad) {
            padding-top: 5rem;
            padding-bottom: 3rem;
        }
        
        @include breakpoint-up(computer) {
            padding-top: 0rem;
            padding-bottom: 3rem;
        } 
    }

    h2 {
        @include breakpoint-up(ipad) {
            padding-top: 2rem;
            padding-bottom: 5rem;
        }
    }

    .breadcrumbs {
        padding-bottom: 0rem;
        padding-top: 10rem;
        padding-left: 2.4rem;

        @include breakpoint-up(ipad) {
            padding-top: 14rem;
            padding-left: 8rem;
            padding-right: 8rem;
        }

        @include breakpoint-up(computer) {
            padding-top: 7rem;
            padding-left: 0rem;
            padding-right: 0rem;
        }

        a:hover {
            color: $clr-blue;
            text-decoration: underline;
        }

        a {
            padding-right: 0.5rem;

            @include breakpoint-up(ipad) {
                padding-right: 1rem;
            }
        }
    }
}

.hide-for-desktop {
    background-color: $clr-white;
    position: fixed;
    width: 100%;
    padding-bottom: 2rem;
    z-index: 2;
    
    @include breakpoint-up(ipad) {
        padding-bottom: 3rem;
    }

    hr {
        border: none;
        background-color: $clr-black;
        height: 0.3em;
        margin-left: 2.4rem;
        margin-right: 2.4rem;
        
        @include breakpoint-up(ipad) {
            height: 0.5rem;
            margin-left: 8rem;
            margin-right: 8rem;
        }
        
        @include breakpoint-up(computer) {
            margin-left: 5rem;
            margin-right: 5rem;
            height: 0.3rem;    
        }
    }
}

hr {
    border: none;
    background-color: $clr-black;
    height: 0.3em;
    
    @include breakpoint-up(ipad) {
        height: 0.5rem;
    }
    
    @include breakpoint-up(computer) {
        height: 0.3rem;    
    }
}


.desktop-nav {
    background-color: $clr-white;
    position: fixed;
    width: 100%;
    padding-bottom: 2rem;
    z-index: 1;

    hr {
        border: none;
        background-color: $clr-black;
        margin-left: 5rem;
        margin-right: 5rem;
        height: 0.3rem;    

        @include breakpoint-up(largeComputer) {
            margin-left: 20rem;
            margin-right: 20rem;
        }
    }

    li {
        padding-right: 3rem;

        a:hover {
            color: $clr-blue;
        }

        &:last-of-type {
            padding-right: 0rem;
        }
    }
}

.overlay {
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    background-color: $clr-white;
    top: 0rem;
    z-index: -1;
}

.hidden {
    display: none;
}


.show {
    display: block;
}

.active {
    color: $clr-blue;
}

  
  .nav-icon:after, 
  .nav-icon:before, 
  .nav-icon div {
    background-color: #141414;
    border-radius: 10rem;
    content: '';
    display: block;
    height: 0.3rem;
    width: 3rem;
    margin: 7px 0;
    transition: all .2s ease-in-out;
}

.nav-icon:hover:before {
    transform: translateY(12px) rotate(135deg);
}
  
.nav-icon:hover:after {
    transform: translateY(-8px) rotate(-135deg);
}
  
.nav-icon:hover div {
    transform: scale(0);
}


