.projects {
    img {
        width: 27rem;
        padding-top: 0rem;
        padding-bottom: 4rem;

        &:last-of-type {
            padding-bottom: 7rem;

            @include breakpoint-up(ipad) {
                padding-bottom: 5rem;
            }
        }

        @include breakpoint-up(ipad) {
            width: 60rem;
            padding-top: 2rem;
            padding-bottom: 7rem;

            &:first-of-type {
                padding-top: 5rem;
            }
        }

        &.animation {
            width: 15rem;
            padding-bottom: 4rem;

            @include breakpoint-up(ipad) {
                width: 25rem;
                padding-bottom: 10rem;
            }

            &:last-of-type {
                padding-bottom: 7rem;
                width: 11rem;

                @include breakpoint-up(ipad) {
                    padding-bottom: 14rem;
                    width: 20rem;
                }
            }
        }

        &.kip {
            width: 17rem;

            @include breakpoint-up(ipad) {
                width: 25rem;
            }
        }

        &.tfs {
            padding-bottom: 3rem;
        }

        &.tfsinfo {
            width: 15rem;
            padding-bottom: 4rem;
        }
    }

    a {
        text-decoration: underline;
        color: $clr-red;
    }

    h2 {
        padding-top: 4rem;

        @include breakpoint-up(ipad) {
            padding-top: 10rem;
        }
    }

    h3 {
        padding-top: 4rem;
        
        @include breakpoint-up(ipad) {
            padding-bottom: 2rem;
        }
    }

    p {
        padding-bottom: 3rem;

        &.last {
            padding-bottom: 0rem;
        }

        @include breakpoint-up(ipad) {
            padding-bottom: 7rem;
            padding-top: 2rem;

            &.last {
                padding-bottom: 1rem;
            }

            &:last-of-type {
                padding-top: 0rem;
                padding-bottom: 0rem;
            }
        }
    }

    .description {
        color: $clr-blue;
        padding-bottom: 4rem;
        padding-top: 1rem;

        @include breakpoint-up(ipad) {
            padding-top: 2rem;
        }
    }

    h5 {
        @include breakpoint-up(ipad) {
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
    }
}

