.projects {
    img {
        width: 30rem;

        &.animation {
            width: 15rem;
        }
    }

    a {
        text-decoration: underline;
        color: $clr-red;
    }

    h2 {
        padding-top: 2rem;
    }

    .description {
        color: $clr-blue;
    }
}

