/* Farve */
$clr-black: hsl(0, 0%, 8%);
$clr-white: hsl(0, 0%, 98%);
$clr-yellow: #F0C800;
$clr-red: #E63228;
$clr-blue: #146EAA;


/* Typografi – Headings, paragraffer*/
//H1
$font-h1-iphone-fallback: 76px;
$font-h1-iphone: 7.6em;
$font-h1-ipad-fallback: 152px;
$font-h1-ipad: 15.2rem;
$font-h1-computer-fallback: 152px;
$font-h1-computer: 15.2rem;

//H2
$font-h2-iphone-fallback: 30px;
$font-h2-iphone: 3em;
$font-h2-ipad-fallback: 60px;
$font-h2-ipad: 6rem;
$font-h2-computer-fallback: 60px;
$font-h2-computer: 6rem;

//H3
$font-h3-iphone-fallback: 22px;
$font-h3-iphone: 2.2em;
$font-h3-ipad-fallback: 44px;
$font-h3-ipad: 4.4rem;
$font-h3-computer-fallback: 44px;
$font-h3-computer: 4.4rem;

//H4
$font-h4-iphone-fallback: 14px;
$font-h4-iphone: 1.4em;
$font-h4-ipad-fallback: 28px;
$font-h4-ipad: 2.8rem;
$font-h4-computer-fallback: 20px;
$font-h4-computer: 2rem;

//H5
$font-h5-iphone-fallback: 14px;
$font-h5-iphone: 1.4em;
$font-h5-ipad-fallback: 28px;
$font-h5-ipad: 2.8rem;
$font-h5-computer-fallback: 28px;
$font-h5-computer: 2.8rem;

//P
$font-p-iphone-fallback: 12px;
$font-p-iphone: 1.2em;
$font-p-ipad-fallback: 20px;
$font-p-ipad: 2rem;
$font-p-computer-fallback: 24px;
$font-p-computer: 2.4rem;



