/* Farve */
$clr-black: hsl(0, 0%, 8%);
$clr-white: hsl(0, 0%, 98%);
$clr-yellow: #F0C800;
$clr-red: #E63228;
$clr-blue: #146EAA;


/* Typografi – Headings, paragraffer*/
//H1
$font-h1-iphone-fallback: 60px;
$font-h1-iphone: 6em;
$font-h1-ipad-fallback: 100px;
$font-h1-ipad: 10rem;
$font-h1-computer-fallback: 10px;
$font-h1-computer: 10rem;

//H2
$font-h2-iphone-fallback: 25px;
$font-h2-iphone: 2.5em;
$font-h2-ipad-fallback: 40px;
$font-h2-ipad: 4rem;
$font-h2-computer-fallback: 40px;
$font-h2-computer: 4rem;

//H3
$font-h3-iphone-fallback: 2px;
$font-h3-iphone: 2em;
$font-h3-ipad-fallback: 30px;
$font-h3-ipad: 3rem;
$font-h3-computer-fallback: 44px;
$font-h3-computer: 4.4rem;

//H4
$font-h4-iphone-fallback: 12px;
$font-h4-iphone: 1.2em;
$font-h4-ipad-fallback: 20px;
$font-h4-ipad: 2rem;
$font-h4-computer-fallback: 16px;
$font-h4-computer: 1.6rem;

//H5
$font-h5-iphone-fallback: 14px;
$font-h5-iphone: 1.4em;
$font-h5-ipad-fallback: 24px;
$font-h5-ipad: 2.4rem;
$font-h5-computer-fallback: 28px;
$font-h5-computer: 2.8rem;

//P
$font-p-iphone-fallback: 10px;
$font-p-iphone: 1em;
$font-p-ipad-fallback: 16px;
$font-p-ipad: 1.6rem;
$font-p-computer-fallback: 14px;
$font-p-computer: 1.4rem;



